body {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	min-width: 320px;
  max-width: 1200px;
	margin: 0;
	margin: 0 auto;
	font-size: 0.9em;
	line-height: 1.3em;
	color: #333333;
	background-color: #f2f2f2;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
	        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}
/*
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:
			url("../fonts/PT_Sans-Web-Regular.ttf");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src:
			url("../fonts/PT_Sans-Web-Italic.ttf");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src:
			url("../fonts/PT_Sans-Web-Bold.ttf");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src:
			url("../fonts/PT_Sans-Web-BoldItalic.ttf");
}
*/
a {
	text-decoration: none;
}

li {
	 list-style-type: none;
}

/*img {
	max-width: 100%;
	height: auto;
}*/

.main-nav a {
	font-weight: bold;
	line-height: 1.63em;
	color: #333333;
}

.main-nav a:hover,
.main-nav a:focus {
	color: #89b8d5;
}

.main-nav a:active {
	color: #c7c7c7;
}

.main-nav li.active a {
	color: #766357;
}

.promo-block__triangle {
	margin-bottom: -4px;
}

.promo-title {
	font-weight: bold;
	font-size: 1.3em;
	line-height: 1.63em;
}

.promo-text {
	line-height: 1.63em;
	color: #808080;
}

.reason-title {
	margin-bottom: 25px;
	font-weight: bold;
	font-size: 1.3em;
	color: #ffffff;
}

.reason-about {
	background-color: #81b3d2;
}

.reason-number {
	color: #ffffff;
}

.reason-text {
	line-height: 1.6em;
	color: #ffffff;
}

.reason-secondary {
	background-color: #eeeeee;
}

.reason-secondary .reason-title{
	color: #333333;
}

.reason-secondary .reason-number {
	color: #333333;
}

.reason-secondary .reason-text {
	color: #333333;
}

.offers-title {
	padding-top: 7px;
	font-weight: bold;
	font-size: 1.3em;
}

.offers-text {
	margin-top: 5px;
}

.appointment-title {
	margin-top: -1px;
	font-weight: bold;
	font-size: 1.9em;
}

.appointment-text {
	margin-bottom: 44px;
	line-height: 1.63em;
	color: #808080;
}

.field-appointment-input {
	background-color: #f2f2f2;
}

.field-appointment-input:hover {
	background-color: #ebebeb;
}

.field-appointment-input:focus {
	background-color: #ffffff;
}

.field-appointment-text {
	font-weight: bold;
	line-height: 1.63em;
	color: inherit;
}

.field-appointment-button {
	font-weight: bold;
	text-transform: inherit;
	font-size: 1.3em;
	line-height: 1.63em;
	color: #ffffff;
	background-color: #81b3d2;
}

.field-appointment-button:hover,
.field-appointment-button:focus {
	background-color: #669ec0;
}

.field-appointment-button:active {
	background-color: #5496bd;
	color: #629fc2;
}

.calendar-icon {
	position: absolute;
	fill: #cdcdcd;
}

.calendar-icon:hover {
	fill: #000000;
}

.calendar-icon:active {
	fill: #81b3d2;
}

/* Разметка футера */

.hashtag a {
	font-weight: bold;
	font-size: 1.3em;
	line-height: 1.63em;
	color:inherit;
}

.hashtag a:hover,
.hashtag a:focus {
	color: #81b3d2;
}

.hashtag a:active {
	color: #c7c7c7;
}

.social-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
}

.footer-social ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 110%;
  padding-left: 0px;
}

.social-icon {
	fill: #ffffff;
}

.social-link:hover {
	background-color: #669ec0;
}

.social-link:active,
.social-icon:active {
	background-color: #5496bd;
	fill: #88b6d1;
}

.footer-copyright {
	line-height: 1.63em;
}

.htmlacademy-logo {
	fill: #231f20;
}

.htmlacademy-logo:hover,
.htmlacademy-logo:focus {
	fill: #81b3d2;
}

.htmlacademy-logo:active {
	fill: #bdbbbc;
}

/* Стили страницы Седона-каталог */

.main-form  {
	/*width: 1200px;*/
 	margin-bottom: -24px;
	background: #81b3d2 url("../img/background-foto.jpg") no-repeat;
}

.field-group-title {
	margin-bottom: 1px;
	font-weight: bold;
	font-size: 1em;
	color: #ffffff;
}

.field-checkbox-text {
	color: #ffffff;
}

.results-sum {
	margin-left: -7px;
	font-weight: bold;
	font-size: 1.3em;
	line-height: 1.63em;
}

.results-sorting {
	font-size: 0.75em;
	line-height: 1.13em;
	color: #b1b1b1;
}

.results-sorting li:not(last-child) {
	padding-right: 30px;
}

.results-title {
	font-size: 0.75em;
	line-height: 1.13em;
	margin-left: 2px;
	padding-top: 2px;
}

.results-sorting-price {
	color: #81b3d2;
}

.results-sorting-item {
	color: #b2b2b2;
}

.results-sorting-item.dotted {
	border-bottom: 1px dotted #b3d1e4;
}

.results-sorting-item:hover,
.results-sorting-item:focus {
	color: #81b3d2;
}

.results-sorting-item:active {
	color: #333333;
}

.hotel-title {
	margin-top: -6px;
	font-weight: bold;
	font-size: 1.3em;
	line-height: 1.63em;
}

.hotel-rating {
	background-color: #f2f2f2;
}

.hotel-title:hover,
.hotel-title:focus {
	color: #81b3d2;
}

.hotel-title:active {
	color: #b2b2b2;
}

.hotel-detail {
	padding: 3px 17px;
	background-color: #81b3d2;
	text-transform: inherit;
	color: #ffffff;
}

.hotel-detail:hover,
.hotel-detail:focus {
	background-color: #669ec0;
}

.hotel-detail:active {
	background-color: #5496bd;
	color: #88b6d1;
}

.hotel-reserve {
	padding: 3px 17px;
	margin-left: 6px;
	background-color: #766357;
	text-transform: inherit;
	color: #ffffff;
}

.hotel-reserve:hover,
.hotel-reserve:focus {
	background-color: #604e43;
}

.hotel-reserve:active {
	background-color: #503e33;
	color: #706158;
}

.footer-copyright-by {
	position: relative;
	padding-right: 10px;
	top: -5px;
}

.visually-hidden {
	position: absolute;
	width: 0px;
	min-height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.field-checkbox-label {
	position: relative;
	padding-left: 40px;
	cursor: pointer;
}

.field-checkbox-label.wi-fi {
	margin-bottom: -11px;
}

.field-checkbox-label.hotel-style {
	margin-top: -3px;
}

.field-checkbox-label.suite {
	margin-bottom: -12px;
}

.checkbox-indicator {
	position: absolute;
	top: 0;
	left: 0;
	width: 26px;
	height: 23px;
}

.field-checkbox-label input[type="checkbox"]:checked + .checkbox-indicator {
	background-image: url("../img/checkbox-on.svg");
	background-repeat: no-repeat;
}

.field-checkbox-label input[type="checkbox"]:not(:checked) + .checkbox-indicator {
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
}

.field-checkbox-label input[type="checkbox"]:disabled + .checkbox-indicator {
	opacity: 0.3;
}

.field-checkbox-input:focus + .checkbox-indicator {
	outline: 1px solid blue;
}

/* Сеточные стили */

.main-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0;
	padding: 0;
	padding: 15px 0px 15px 0px;
	background-color: #ffffff;
}

.main-nav li:nth-child(2) {
	margin-right: auto;
}

.main-nav li {
	width: 20%;
	text-align: center;
}

.main-menu {
	position: relative;
	/*padding:0 6%;
	/*
	width: 1200px;*/
}

.logo {
	display: inline-block;
	position: absolute;
	width: 137px;
	left: 0;
	right: 0;
	margin: 0 auto;
	cursor: pointer;
}

.promo-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	/*width: 1200px;*/
	background-color: #ffffff;
}

.promo-block-img {
	margin-top: -55px;
}

.promo-title {
	padding-top: 42px;
}

.promo-text {
	padding-bottom: 35px;
}

.reason {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-height: 256px;
	/*width: 1200px;*/
}

.reason-about {
	width: 33%;
	padding: 42px 3.8%;
	text-align: center;
}

.offers {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-between;
	margin: 0;
	padding: 0;
	/*width: 1200px;*/
	background-color: #ffffff;
}

.offers-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
	padding: 42px 3.8%;
	/*padding-left: 10px;
	padding-top: 60px;
	padding-bottom: 87px;*/
}

.offers-food-img {
	margin-top: 1px;
}

.offers-box-img {
	margin-top: -4px;
}

.offers-title.correct {
	margin-bottom: 17px;
}

.reason-items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin: 0;
	padding: 0;
	width: 1200px;
	background-color: #eeeeee;
}

.reason-features {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	justify-content: space-between;
	text-align: center;
	width: 33%;
	padding: 42px 3.8%;
	color: inherit;
}

/*.reason-picture {
  /*background: url("../img/reason-sedona-adp.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}*/

.reason-picture.secondary-img {
	-webkit-box-ordinal-group: 0;
	    -ms-flex-order: -1;
	        order: -1;
}
.appointment {
	position: relative;
	text-align: center;
	padding-top: 58px;
	/*width: 1200px;*/
	background-color: #ffffff;
}

/* Всплывающая форма*/

.appointment-button {
	width: 48%;
	padding: 31px 0px;
	border: 0;
	font-weight: bold;
	letter-spacing: 0.6px;
	font-size: 1.3em;
	line-height: 1.63em;
	background-color: #766357;
	color: #ffffff;
	font-family: inherit;
	text-transform: uppercase;
}

.appointment-button:hover,
.appointment-button:focus {
	background-color: #604e43;
}

.appointment-button:active {
	background-color: #503e33;
	color: #857871;
}

input[type="number"] {
	-moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.field-appointment-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	position: absolute;
	left: 50%;
	margin-left: -24%;
	text-align: left;
	font-weight: 700;
	width: 48%;
	padding-top: 54px;
	background-color: white;
	-webkit-box-shadow: 0 7px 15px rgba(0,1,1,0.15);
	        box-shadow: 0 7px 15px rgba(0,1,1,0.15);
}

.modal {
	display: none;
}

.modal-show {
	display: block;
}

.field-appointment-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 81%;
	margin-bottom: 30px;
}

.adult-count-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 56%;
	text-align: center;
}

.adult-count-wrapper:nth-child(2) label {
	margin-left: 50px;
}

.adult-count.minus {
	margin-left: auto;
}

.field-appointment-item input {
	display: inline-block;
	width: 16%;;
	padding-left: 13px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: none;
	background-color: #f2f2f2;
}

.field-appointment-item input[type="text"] {
	padding-right: 40px;
	padding-left: 11px;
}

.child-count.minus,
.field-appointment-item input[type="text"] {
	margin-left: auto;
}

.plus,
.minus {
	font-size: 1.3em;
	/*font-weight: bold;*/
}

.field-appointment-input {
	color: #333333;
	font-size: 0.9em;
	text-transform: uppercase;
	font-family: inherit;
	font-weight: bold;
	line-height: 1.63em;
}

.field-appointment-item input:hover {
	background-color: #ebebeb;
}

.field-appointment-item input:focus {
	background-color: white;
	border: 2px solid #e5e5e5;
}

.field-appointment-item button {
	background-color: #f2f2f2;
	color: #a9a9a9;
	border: none;
	width: 14%;
}

.field-appointment-item svg {
	position: absolute;
	right: 57px;
	padding: 8px;
	fill: #a9a9a9;
}

.field-appointment-input+svg:hover,
.field-appointment-input+svg:focus {
	fill: #333333;
}

.field-appointment-input+svg:active {
	fill: #81b3d2;
}

.field-appointment-item:nth-child(1) input,
.field-appointment-item:nth-child(2) input {
	width: 346px;
}

.field-appointment-item button:hover,
.field-appointment-item button:focus {
	color: #333333;
}

.field-appointment-item button:active {
	color: #81b3d2;
}

.field-appointment-btn {
	padding-left: 34%;
	padding-right: 34%;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 24px;
	margin-bottom: 56px;
	text-transform: uppercase;
	font-size: 1.3em;
	font-family: inherit;
	color: white;
	background-color: #81b3d2;
	border: none;
}

.field-appointment-btn:hover,
.field-appointment-btn:focus {
	background-color: #669ec0;
}

.field-appointment-btn:active {
	color: rgba(256,256,256,0.3);
	background-color: #5496bd;
}

.main-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	padding: 20px 0px;
	margin-top: -116px;
	/*width: 1200px;*/
	background: rgba(255, 255, 255, 0.9);
}

.main-footer.catalog {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 0px;
	padding: 20px 0px;
	/*width: 1200px;*/
	background-color: #ffffff;
}

.footer-copyright {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	/*width: 16%;*/
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.map-nav {
	padding: 0;
	margin: 0;
 	margin-top: -2px;
}

.field-group-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0.5% 6.1% 4.8% 6.1%;
}

.field-group.infostruction {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.field-group.suite {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin-left: -231px;
}

.results {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-bottom: 1px solid #e5e5e5;
	padding-left: 6%;
	padding-top: 21px;
	padding-bottom: 23px;
	/*width: 1158px;*/
	background-color: #ffffff;
}

.results-sorting {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0;
	padding: 0;
	padding-right: 0.9%;
	margin-right: 38%;
	/*width: 245px;*/
}

.sort-arrow {
	margin-right: 4.5%;
	width: 36px;
}

.sort-arrow-up {
	margin-right: 5px;
	fill: #cacaca;
}

.sort-arrow-down {
	fill: #cacaca;
}

.sort-arrow-down.active-arrow {
	fill: #81b3d2;
}

.sort-arrow-up:hover,
.sort-arrow-up:focus,
.sort-arrow-down:hover,
.sort-arrow-down:focus {
	fill: #231f20;
}

.sort-arrow-up:active,
.sort-arrow-down:active {
	fill: #81b3d2;
}

.hotel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-bottom: 1px solid #e5e5e5;
	padding-left: 6%;
	padding-right: 6%;
	/*width: 1128px;*/
	background-color: #ffffff;
}

.hotel-about {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-right: auto;
	margin-left: 2.5%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.hotel-price {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	font-weight: normal;
	/*width: 180px;*/
	margin-top: -12px;
}

.hotel-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	/*width: 258;*/
}

.hotel-grade {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	font-weight: normal;
}

.hotel-stars-1 {
	display: inline-block;
	margin-left: 2.3%;
	margin-bottom: 48px;
	height: 17px;
	width: 87px;
	background: url("img/star.svg") repeat;
}

.hotel-stars-2 {
	display: inline-block;
	margin-left: 4.2%;
	margin-bottom: 48px;
	height: 17px;
	width: 64px;
	background: url("img/star.svg") repeat;
}

.hotel-stars-3 {
	display: inline-block;
	margin-left: 6.1%;
	margin-bottom: 48px;
	height: 17px;
	width: 41px;
	background: url("../img/star.svg") repeat;
}

.hotel-rating {
	padding: 3px 18px;
}

/*Оформление фильтра стоимости*/

.price-in-day {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-top: 20px;
	width: 318px;
	color: #ffffff;
}

.price-in-day-text {
	font-weight: bold;
	font-size: 1em;
	color: #ffffff;
	margin-bottom: 9px;
}

.price-controls {
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	font-size: 0;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background:  #ffffff;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;
	font-size: 0.9em;
	line-height: 2.4em;
	vertical-align: top;
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
	outline: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	width: 318px;
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	        box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.range-controls .range-toggle:focus,
.range-controls .range-toggle:hover {
  border: 10px solid #ffffff;
	top: -11px;
}

.field-group-button {
	display: block;
	position: relative;
	left: -4px;
	margin: 0 auto;
	padding: 7px 19px;
	background-color: transparent;
	width: 136px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	text-transform: inherit;
	outline: none;
	cursor: pointer;
	color: #ffffff;
}

.field-group-button:hover,
.field-group-button:focus {
	background-color: #ffffff;
	color: #333333;
}

/*Резиновая Верска*/

.promo-block-visually {
	background: url("../img/promo-adp.jpg");
	background-repeat: no-repeat;
	background-size: auto;
	max-width: 100%;
  height: auto;
}

.promo-block__triangle {
	max-width: 100%;
  height: auto;
}

.promo-block-title {
	margin-bottom: 0px;
	padding-top: 30px;
	font-weight: bold;
	font-size: 2.75em;
	color: #81b3d2;
}

.promo-block-title.sedona {
	letter-spacing: 2px;
	padding-top: 15px;
	padding-bottom: 63px;
	font-size: 4.6em;
	color: #ffffff;
}

.promo-block-text {
	font-family: 'Dancing Script', cursive, sans-serif;
	text-transform:lowercase;
	font-size: 1.4em;
	color: #766357;
}

.promo-block-text.second {
	font-family: 'Dancing Script', cursive, sans-serif;
	font-size: 3em;
	line-height: 1.15;
	padding-bottom: 34px;
	text-transform: initial;
	color: #ffffff;
}
